//Arrow fixed
.up-arrow {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    fill: #1B2CC1;
    cursor: pointer;
    border-radius: 50%;
}
//menu setup
.header {
    &--nav {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $gray;
        padding: 1em;
        height: 70/10 + em;
        z-index: 1;
        box-shadow: 5px 5px 5px 5px #1b2cc159;
    }
    &--logo-box {
        display: flex;
        align-items: center;
        .logo-text {
            @extend .text--body;
            min-width: 100px;
            margin-left: 1em;
            font-weight: 700;
            color: #1B2CC1;
            text-decoration: #1B2CC1;
        }
    }
    &--logo {
        width: 48px;
        height: 48px;
    }
    &--menu {
        display: block;
        position: absolute;
        background: $gray;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
        @include tablet {
            display: flex;
            justify-content: flex-end;
            position: initial;
            z-index: 0;
            height: initial;
            visibility: visible;
        }
        li {
            list-style: none;
            position: relative;
            padding: 1em;
            a {
                @extend .text--body;
                font-size: 2em;
                color: #1B2CC1;
                text-decoration: none;
                display: block;
                border-bottom: 2px solid rgba(0,0,0,.05);
                font-weight: 700;
                @include tablet {
                    border: none;
                    font-size: initial;
                }
                @include desktop {
                    border: none;
                    font-size: 2.2em;
                }
            }
        }
    }
}

//Links setup 
a:visited{
    text-decoration: #1B2CC1;
}

// Fixed menu on Tablet

.menuFixed {
    position: fixed;
    width: 100%;
}

// Underscore on MENU
.header--menu {
    li:nth-child(1)::before {
        display: none;
        @include tablet {
            display: initial;
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            background: #1B2CC1;
            top: 3em;
            left: 1.1em;
            transition: .5s;
        }
        @include desktop {
            top: 3.5em;
        }
        
    }

    li:nth-child(1):hover::before {
        @include tablet {
            height: 3px;
            width: 5.5em;
        }
        @include desktop {
            width: 7.5em;

        }
    }

    li:nth-child(2)::before {
        display: none;
        @include tablet {
            display: initial;
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            background: #1B2CC1;
            transition: .5s;
        }
        @include desktop {
            top: 3.5em;
        }
    }
    li:nth-child(2):hover::before {
        @include tablet {
            height: 3px;
            width: 9.2em;
        }
        @include desktop {
            width: 12em;
        }
    }
    li:nth-child(3)::before {
        display: none;
        @include tablet {
            display: initial;
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            background: #1B2CC1;
            transition: .5s;
        }
        @include desktop {
            top: 3.5em;
        }
    }
    li:nth-child(3):hover::before {
        @include tablet {
            height: 3px;
            width: 9.5em;
        }
        @include desktop {
            width: 13.2em;
        }
    }
    li:nth-child(4)::before {
        display: none;
        @include tablet {
            display: initial;
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            background: #1B2CC1;
            transition: .5s;
        }
        @include desktop {
            top: 3.5em;
        }
    }
    li:nth-child(4):hover::before {
        @include tablet {
            height: 3px;
            width: 8em;
        }
        @include desktop {
            width: 11em;
        }
    }
}
//button setup
.header--btn {
    display: flex;
    font-size: 1.8em;
    padding: .5em 1em;
    border: none;
    background: none;
    color: #1B2CC1;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    &__hamburger {
        margin-left: 5px;
        width: 20px;
        border-top: 2px solid;
        color: #1B2CC1;
    
    }
    &__hamburger::after, &__hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        position: relative;
        transition: .8s;
    }
    @include tablet {
        display: none;
    }
}

// funcional hamburger 
.header--nav.active .header--btn__hamburger {
    border: transparent;
    position: relative;
}
.header--nav.active .header--btn__hamburger::before {
    transform: rotate(135deg);
    top: 3px;
}
.header--nav.active .header--btn__hamburger::after{
    transform: rotate(-135deg);
    top: -3px;
}
.header--nav.active .header--menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    @include tablet {
        visibility: hidden;
    }
}