//Arrow fixed
.up-arrow {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    fill: #1B2CC1;
    cursor: pointer;
    border-radius: 50%;
    @include tablet{

    }
}
//menu setup
.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $dark;
    background-image: url(/img/distrito.jpeg);
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: center;
    @include tablet {
        background-size: 550px 400px;
    }
    @include desktop {
        background-size: 850px 500px;
    }
    .header-img { 
        max-width: 200px;
        min-height: 40%;
        align-self: center;
        flex-grow: 1;
    }
    &--nav {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $gray;
        padding: 1em;
        height: 70/10 + em;
        z-index: 1;
        box-shadow: 5px 5px 5px 5px #1b2cc159;
        @include tablet {
            justify-content: space-around;
        }
    }
    &--logo-box {
        display: flex;
        align-items: center;
        .logo-text {
            @extend .text--body;
            min-width: 100px;
            margin-left: 1em;
            font-weight: 700;
        }
    }
    &--logo {
        width: 48px;
        height: 48px;
    }
    &--menu {
        display: block;
        position: absolute;
        background: $gray;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
        @include tablet {
            display: flex;
            justify-content: flex-end;
            position: initial;
            z-index: 0;
            height: initial;
            visibility: visible;
        }
        li {
            list-style: none;
            position: relative;
            padding: 1em;
            @include tablet {

            }
            
            a {
                @extend .text--body;
                font-size: 2em;
                color: #1B2CC1;
                text-decoration: none;
                display: block;
                border-bottom: 2px solid rgba(0,0,0,.05);
                font-weight: 700;
                @include tablet {
                    border: none;
                    font-size: initial;
                }
                @include desktop {
                    border: none;
                }
            }
        }
    }
}
// Underscore on MENU
.header--menu {
    @include tablet {
            li:nth-child(1)::before {
    
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            transition: .5s;
            
        }
        li:nth-child(1):hover::before {
            height: 3px;
            width: 5.5em;
            background: #1B2CC1;
        }
            li:nth-child(2)::before {
    
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            transition: .5s;
            
        }
        li:nth-child(2):hover::before {
            width: 9.2em;
            height: 3px;
            background: #1B2CC1;
        }
            li:nth-child(3)::before {
    
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            transition: .5s;
            
        }
        li:nth-child(3):hover::before {
            width: 8.2em;
            height: 3px;
            background: #1B2CC1;
        }
            li:nth-child(4)::before {
    
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 3em;
            left: 1.1em;
            transition: .5s;
            
        }
        li:nth-child(4):hover::before {
            width: 9.7em;
            height: 3px;
            background: #1B2CC1;
        }
    }
}
// Background on header image
.imgbackground::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 0px;
    top: 40%;
    left: 40%;
    text-align: center;
    font-size: 3.8em;
    font-weight: 700;
    color: #FFF;
    z-index: 1;
}

.imgbackground:hover::before {
    content: "Distrito 26A-ING";
    height: 46px;
}
.imgbackground::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 0;
}
.imgbackground:hover::after {
    background: #333a;
}
//button setup
.header--btn {
    display: flex;
    font-size: 1.8em;
    padding: .5em 1em;
    border: none;
    background: none;
    color: #1B2CC1;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    &__hamburger {
        margin-left: 5px;
        width: 20px;
        border-top: 2px solid;
        color: #1B2CC1;
    
    }
    &__hamburger::after, &__hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        position: relative;
        transition: .8s;
    }
    @include tablet {
        display: none;
    }
}

//hamburger setup
.header--nav.active .header--btn__hamburger {
    border: transparent;
    position: relative;
}
.header--nav.active .header--btn__hamburger::before {
    transform: rotate(135deg);
    top: 3px;
}
.header--nav.active .header--btn__hamburger::after{
    transform: rotate(-135deg);
    top: -3px;
}
.header--nav.active .header--menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
    @include tablet {
        visibility: hidden;
    }
}